<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myFilter/saved</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <script async defer data-domain="dev.myfilter.io" src="https://plausible.io/js/plausible.js"></script>
</head>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Saved
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/">Latest</a>
        <a href="/skipped">Skipped</a>
        <a href="/read">Read</a>
      </div>
    </div>
    <a href="/settings" style="float: right">Settings</a>
  </div>
<body>
<div id="feed"></div>
<script>
// Obfuscate + Minify code for production?

function removeDuplicates(array) {
  return array.filter((a, b) => array.indexOf(a) === b)
}

function set_saved(url, saved) {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "/post", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.send('{"request_type": "set_saved", "url_list": ' + JSON.stringify(removeDuplicates(saved)) + '}');
    xhr.onloadend = function () {
        //location.reload();
        parse_feed(window.feed, window.my_data);
        print_feed();
        add_url_dict(url);
    }
}

function set_skipped(url, skipped) {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "/post", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.send('{"request_type": "set_skipped", "url_list": ' + JSON.stringify(removeDuplicates(skipped)) + '}');
    xhr.onloadend = function () {
        //location.reload();
        parse_feed(window.feed, window.my_data);
        print_feed();
        add_url_dict(url);
    }
}

function set_read(url, read) {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "/post", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.send('{"request_type": "set_read", "url_list": ' + JSON.stringify(removeDuplicates(read)) + '}');
    xhr.onloadend = function () {
        parse_feed(window.feed, window.my_data);
        print_feed();
        add_url_dict(url);
        window.location.href = url;  //maybe offer setting to change between?
        //window.open(url, "_blank");
    }
}

//function set_tags(url, tags) {
//    let tag_xhr = new XMLHttpRequest();
//    tag_xhr.open("POST", "/post", true);
//    tag_xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
//    tag_xhr.send('{"request_type": "set_tags", "tags": ' + JSON.stringify(tags) + '}');
//}


function add_url_dict(url){
    for (let j = 0, size = window.feed.length; j < size; j++) {
        let sanitised_obj = window.feed[j];
        if (sanitised_obj.link === url) {
            window.my_data.url_dict[url] = {"source": sanitised_obj.source, "published": sanitised_obj.published, "title": sanitised_obj.title};
        }
    }
}




function send_read(url, remove) {
    let read = window.my_data["read"];
    if (remove) {
            read = remove_element(read, url);
    }
    else if (!read.indexOf(url) > -1) {
            read.push(url);
            add_url_dict(url);
    }
    window.my_data["read"] = read;
    set_read(url, read);
}

function send_saved(url, remove) {
    let saved = window.my_data["saved"];
    if (remove) {
            saved = remove_element(saved, url);
    }
    else if (!saved.indexOf(url) > -1) { //!saved.indexOf(url) > -1  //!saved.includes(url)
            saved.push(url);
            add_url_dict(url);
    }
    window.my_data["saved"] = saved;
    parse_feed(window.feed, window.my_data);
    print_feed();
    set_saved(url, saved);
}

function send_skipped(url, remove) {
    let skipped = window.my_data["skipped"];
    if (remove) {
            skipped = remove_element(skipped, url);
    }
    else if (!skipped.indexOf(url) > -1) {
            skipped.push(url);
            add_url_dict(url);
    }
    window.my_data["skipped"] = skipped;
    parse_feed(window.feed, window.my_data);
    print_feed();
    set_skipped(url, skipped);
}


//function send_tag(url, tag, remove) {
    //window.my_data;

//}

function remove_element(my_list, element) {
  my_list.splice(my_list.indexOf(element), 1);
  return my_list
}

function print_feed() {
    document.getElementById("feed").innerHTML = "";
    for (let j = 0, size = window.my_data.saved.length; j < size; j++) {
        let url = window.my_data.saved[j];
        let url_object = window.my_data.url_dict[url];
        document.getElementById("feed").innerHTML = document.getElementById("feed").innerHTML +
            "<div class='item'><div class='source'>" + url_object.source + "<span class='date'> " + url_object.published + "</div><div class='story'><a href='#' onclick='send_read(\"" + url + "\", false)'>" + url_object.title + "</a></div><div class='actions'><a href='#' onclick='send_skipped(\"" + url + "\", false)'>Skip</a></div></div>";
        //<a href='#' onclick='send_read(\"" + url + "\", true)'>Mark as Unread</a>
    }
}

function parse_feed(my_feed, my_data){
    let sanitised_feed = []
    for (let i = 0, size = my_feed.length; i < size; i++) {
        let feed_item = my_feed[i];
        //!saved.indexOf(url) > -1
        feed_item["skipped"] = my_data["skipped"].indexOf(feed_item["link"]) > -1;
        feed_item["saved"] = my_data["saved"].indexOf(feed_item["link"]) > -1;
        feed_item["read"] = my_data["read"].indexOf(feed_item["read"]) > -1;
        if (feed_item["link"] in my_data["tags"]) {
            feed_item["tags"] = my_data["tags"][feed_item["link"]];
        } else {
            feed_item["tags"] = [];
        }
        sanitised_feed.push(feed_item);
    }
    window.feed = sanitised_feed;
    window.my_data = my_data;
}

function show_feed() {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "/post", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.onloadend = function () {
        let my_data = JSON.parse(xhr.responseText);
        let xhr2 = new XMLHttpRequest();
        xhr2.open("POST", "/post", true);
        xhr2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr2.onloadend = function () {
            let my_feed = JSON.parse(xhr2.responseText);
            parse_feed(my_feed, my_data);
            print_feed();
        };
        xhr2.send('{"request_type": "feed"}');
    };
    xhr.send('{"request_type": "get_info"}');
}

show_feed();
</script>
</body>
</html>